<html>
    <head>
        <%- include ../includes/_head%>
        <link rel="stylesheet" href="/public/stylesheet/board_style.css">
    </head>

    <body>
        <img src="/public/images/logo.png" class="logo" alt="">
        <div id="board" class="user_info">
            <%- include ../includes/_header%>
            <%- include ../includes/_board_members%>

            <div class="container-fluid machine-contents mt-3">

                <draggable v-model="board.stage_list" class="d-flex justify-content-center" style="height:80%;" @update="MoveStage">
                    <transition-group name="list-complete" class="d-flex drag-stage">
                        <div v-for="(stage, stage_index) in board.stage_list" v-bind:key="'stage' + stage_index" class="list-complete-item column-width" @add="OnAdd(stage_index)" @start="OnStart(stage_index)">

                            <div class="column card pointer card-title-color" :key="'stage-border' + stage_index" :style="{borderTopColor: stage.border_color}">
                                <div class="card-body pb-0 px-2" style="background-color:#ededed">
                                    <div class="input-group d-flex justify-content-between">
                                        <div v-if="isEditCurrentStageTitle(stage_index)" class="ml-2 mb-3">
                                            <input type="text" v-model="stage.title" @keyup.enter="DoneEditStageTitle" @blur="CancelEditStageTitle" @keyup.esc="CancelEditStageTitle" v-focus>
                                        </div>
                                        <div v-else class="ml-2 mb-3" style="font-weight: 900" @dblclick="EditStageTitle(stage_index)">
                                            {{ stage.title }}
                                        </div>         
                                        <div class="d-flex">
                                            <div>
                                                <input v-if="isEditCurrentStageWIP(stage_index)" type="number" style="width: 50px;" v-model="stage.WIP_limit" @blur="CancelEditStageWIP" @keyup.esc="CancelEditStageWIP" @keyup.enter="DoneEditStageWIP" v-focus>                                                
                                                <div v-else>
                                                    <span v-if="stage.WIP_limit > 0" @dblclick="EditStageWIP(stage_index)" class="font-weight-bold">{{stage.WIP_limit}}</span>
                                                </div>
                                            </div>
                                            <div class="btn-group nav-item dropdown">
                                                    <button class="column-button pointer" id="stage-menu" role="button" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                        <img src="https://image.flaticon.com/icons/svg/54/54076.svg" width="15px;"
                                                        height="15px;" alt="">
                                                    </button>                                                                                                                          
                                                    <div class="dropdown-menu  p-3" aria-labelledby="stage-menu" style="min-width:170px;">
                                                        <div class="input-group justify-content-between align-items-center">
                                                            <h6 class="m-0 text-center" style="font-weight:900;">Stage Menu</h6>
                                                            <button type="button" class="close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" v-on:click="EditStageWIP(stage_index)" href="#">Edit WIP Limit</a>
                                                        <a class="dropdown-item" v-on:click="EditStageTitle(stage_index)" href="#">Edit Title</a>
                                                        <a class="dropdown-item" v-on:click="EditStageColor(stage_index)" data-toggle="modal" data-target="#selectColor">Edit Stage Color</a>                                                                                                            
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-white bg-danger font-weight-bold text-center" v-on:click="RemoveStage(stage_index)" href="#">Remove</a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div>
                                        <draggable v-model="stage.work_items" class="dragArea scrollspy-card" :options="{group:{ name:'people', put: IsPuttable(stage_index)}}" @end="OnEnd">
                                            <div v-for="(work_item, work_item_index) in stage.work_items" :key="work_item_index">
                                                <a v-on:click="LoadCardContent(stage_index,work_item_index)" data-toggle="modal"
                                                    data-target=".bd-example-modal-lg">
                                                    <div class="task card pointer my-2 card-item">
                                                        <div class="card-body ml-3 my-2 p-0">
                                                                {{ work_item._id }}

                                                            <div class="input-group d-flex justify-content-between">
                                                                <p class="m-0">
                                                                    {{ work_item.title }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>                                    
                                        </draggable>


                                        <!-- Add new Card -->
                                        <div v-if="addCardInStage == stage_index">
                                            <input :id="'cardInput'+stage_index" type="text" class="my-2 form-control" @keyup.enter="AddNewCard(stage_index)" @blur="HideCardInput(stage_index)" @keyup.esc="HideCardInput(stage_index)" v-focus>
                                            <button v-on:click="AddNewCard(stage_index)" :id="'cardInputButton'+stage_index"
                                                class="my-1 btn btn-success">Done</button>
                                        </div>
                                        <a v-else-if="IsPuttable(stage_index)" v-on:click="ShowCardInput(stage_index)" data-toggle="modal" data-target="test">
                                            <div class="addCard pointer my-2">
                                                <p class="m-0" style="font-size:0.9rem;">+ Add another card</p>                                            
                                            </div>
                                        </a>
                                        
                                        <!-- Add new Card End-->                                    
                                    </div>
                                </div>

                            </div>
                        </div>
                    </transition-group>
                </draggable>
                <div class="button-add-new-stage">
                    <button v-on:click="AddNewStage()" class="btn-dark btn" style="position:absolute; top:100px; right:25px; opacity: 0.7;">+ Add another stage</button>
                </div>
            <%- include ../modals/card_modal%>
            <%- include ../modals/select_color_modal%> 
            </div>
        </div>
        <%- include ../includes/_footer%>    
        <script src="/public/javascript/board.js"></script>
       
    </body>
</html>