<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color:#ededed;">
            <!-- TopTitle -->
            <div class="d-flex justify-content-between align-items-start mt-3 pr-3 pl-4 mb-3">
                <div class="input-group">
                    <img class="mr-3" src="/public/icon/015-blackboard-1.png"
                        alt="" width="20px" height="20px">
                    <div>
                        <h5 class="mb-0" style="font-weight: 900;">
                            {{ selected_card.title }}
                        </h5>
                        <!-- <div class="mt-1" style="font-size:0.9rem">
                            <span style="color:#8A8788">in list
                                <a class="bottom-border" style="color:#8A8788;"
                                    href="">
                                    {{ selected_card.title }}
                                </a>
                            </span>
                        </div> -->
                        <div class="tag mt-2 input-group">
                            <div class="row">
                                <!-- members-->
                                <div class="mx-3" v-if="!selected_card.assign || selected_card.assign.length > 0">
                                    <span class="tag-style">Members</span> 
                                    <div class="input-group">        
                                        <div v-for="(assign, assign_index) in selected_card.assign" :key="assign.userFk">
                                            <a class="pointer d-flex align-items-center mx-1" id="member-index" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <img :src="GetMemberIconById(assign.userFk)" alt="" width="40px" height="40px">                                        
                                            </a>
                                            <div class="dropdown-menu bg-light nav-menu p-2" aria-labelledby="member-index">
                                                <a class="dropdown-item text-white font-weight-bold text-dark" href="#">{{GetMemberEmailById(assign.userFk)}} ({{GetMemberNameById(assign.userFk)}})</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-white bg-danger font-weight-bold text-center" @click="RemoveAssignMember(assign_index, assign.userFk)" href="#">Remove</a>
                                            </div> 
                                        </div>                        
                                                                                                                                                            
                                    </div>                                
                                </div>
                                <!--members end -->

                                <!-- labels -->
                                <div class="mx-3" v-if="!selected_card.tags || selected_card.tags.length > 0">
                                    <span class="tag-style">Labels</span>                         
                                    <div class="input-group">
                                        <div v-for="(label, label_index) in selected_card.tags">
                                            <button :style="{backgroundColor: label.color}" class="btn text-light m-1" id="label-index" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{label.text}}</button>                             
                                            <div class="dropdown-menu bg-light nav-menu p-2" aria-labelledby="label-index">
                                                <a class="dropdown-item text-white bg-danger font-weight-bold text-center" href="#" @click="RemoveLabel(label_index)">Remove</a>
                                            </div>
                                        </div>
                                    </div>       
                                </div>
                                <!--labels end-->
                            </div>

                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <!-- TopTitleEnd -->

            <div class="row d-flex justify-content-center">
               
                <div class="mb-3 ml-3 pl-4 col-md-9 left-option" >
                    <!-- modal_description -->               
                    <%- include ../includes/_modal_description%>

                    <!-- modal_checklist -->
                    <%- include ../includes/_modal_checklist%>

                    <!-- modal_comment -->
                    <%- include ../includes/_modal_comment%>

                    <!-- modal_activity  -->
                    <%- include ../includes/_modal_activity%>

                    <!-- modal_message -->
                    <%-include ../includes/_modal_message%>
                </div>

                <!-- 右邊 -->
                
                <div class="col-md-3 p-0 right-option">
                    <div class="add
                    ">
                        <p class="mb-1 right-list-title">
                            ADD TO CARD
                        </p>
                        <%- include ../includes/_modal_options%>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- modalend -->
