<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color:#ededed;">
            <!-- TopTitle -->
            <div class="d-flex justify-content-between align-items-start mt-3 pr-3 pl-4 mb-3">
                <div class="input-group">
                    <img class="mr-3" src="/public/icon/015-blackboard-1.png"
                        alt="" width="20px" height="20px">
                    <div>
                        <h5 class="mb-0" style="font-weight: 900;">
                            {{ selected_card.title }}
                        </h5>
                        <div class="mt-1" style="font-size:0.9rem">
                            <span style="color:#8A8788">in list
                                <a class="bottom-border" style="color:#8A8788;"
                                    href="">
                                    {{ selected_card.title }}
                                </a>
                            </span>
                        </div>
                        <div class="tag mt-2 input-group">
                            <div class="mx-1" v-for="(assign_member_id,assign_index) in selected_card.assign">
                                <img :src="board.members[assign_member_id].icon_url" alt="" class="rounded-circle" width="35px;" height="35px;">
                            </div>                                            
                            <!-- <button class="btn btn-success">Done</button> -->
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <!-- TopTitleEnd -->

            <div class="row">
               
                <div class="mb-3 ml-3 pl-4 col-9" style="max-width: 72%;">
                    <!-- modal_description -->               
                    <%- include ../includes/_modal_description%>

                    <!-- modal_checklist -->
                    <%- include ../includes/_modal_cecklist%>

                    <!-- modal_comment -->
                    <%- include ../includes/_modal_comment%>

                    <!-- modal_activity  -->
                    <%- include ../includes/_modal_activity%>

                    <!-- modal_message -->
                    <%-include ../includes/_modal_message%>
                </div>

                <!-- 右邊 -->
                <div class="col-3 p-0" style="max-width: 22%;">
                    <p class="mb-1" style="font-weight:900; font-size:12px;color: #6b808c;">
                        ADD TO CARD
                    </p>

                    <%- include ../includes/_modal_options%>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- modalend -->
